body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.lorem {
  padding-top: 94px;
}
.lorem__descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}
.lorem__icon {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lorem__icon:hover, .lorem__icon:focus {
  border: solid #2196F3;
  fill: #2196F3;
}
.lorem__text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.offer {
  margin-top: 94px;
}
.offer__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  margin-top: 50px;
  list-style: none;
  padding-left: 0;
}
.offer__label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.9333333333);
}
.offer__image {
  position: relative;
}
.offer__title {
  font-family: "Roboto";
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
}

.team {
  padding-top: 94px;
}
.team__title {
  padding-top: 94px;
  font-family: "Roboto";
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
}
.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
  list-style: none;
  padding-left: 0;
}
.team__team-card {
  background-color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team__name {
  margin: 30px 0 10px 0;
}
.team__profession {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  margin: 0 0 30px 0;
}
.team__social-media {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.team__social-media-icon {
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-media-icon:hover, .team__social-media-icon:focus {
  fill: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
}

.team-container {
  background-color: #F5F4FA;
  width: 1600px;
  margin: auto;
}

.our-clients {
  padding-top: 94px;
}
.our-clients__title {
  font-family: "Roboto";
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
}
.our-clients__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 94px;
}
.our-clients__icon {
  border-radius: 4px;
  border: #AFB1B8 solid 1px;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__icon:hover, .our-clients__icon:focus {
  fill: #2196F3;
  border: #2196F3 solid 1px;
}

.our-clients-container {
  width: 1600px;
  margin: auto;
}

.header {
  background-color: #ffffff;
  height: 80px;
  width: 1600px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 93px;
  border-bottom: 1px solid #ececec;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  padding: 0 auto;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 46px;
  line-height: 1.2;
  padding: 0;
  margin-left: 93px;
  list-style: none;
}
.navigation__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: v #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__email, .navigation__tel {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__email:hover, .navigation__email:focus, .navigation__tel:hover, .navigation__tel:focus {
  color: #2196F3;
  fill: #2196F3;
  text-decoration: none;
}
.navigation__contacts {
  margin-left: 250px;
  gap: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navigation__icon {
  margin-right: 10px;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__icon:hover, .navigation__icon:focus {
  fill: #2196F3;
  cursor: pointer;
}

.title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.title__button {
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px 41px 10px 42px;
}

.title-background {
  background-color: #2F303A;
  height: 600px;
  width: 1600px;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
}

.picture {
  width: 1600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.with-picture {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/image-background.png");
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/image-background.png");
}

/* --- FOOTER ---*/
.footer {
  background-color: #2F303A;
  height: 252px;
  margin: auto;
  padding: 60px 0 0 0;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
  width: 246px;
}
.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer__contacts, .footer__email, .footer__tel {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 0;
}
.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0;
  gap: 9px;
  list-style: none;
}
.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 70px;
}
.footer__icon {
  fill: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.footer__icon:hover, .footer__icon:focus {
  fill: #ffffff;
  background-color: #2196F3;
  cursor: pointer;
}
.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: v #ffffff;
  padding-left: 70px;
  padding-top: 0;
}
.footer__media-title {
  color: v #ffffff;
  margin: 0 auto;
}

.blue-text {
  color: #2196F3;
}

.footer-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

/* --- END OF FOOTER ---*/
.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 94px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 90px;
}
.newsletter__label {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}
.newsletter__email {
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  resize: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  background-color: #2F303A;
}

.signup {
  margin-left: 12px;
  margin-bottom: 94;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  padding-bottom: 10px;
}
.signup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border-color: #2196F3;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  color: #ffffff;
  line-height: 1.87;
  font-size: 16px;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.signup__button:hover {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signup__icon {
  fill: #ffffff;
  margin-left: 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
  list-style: none;
  padding-left: 0;
}
.menu__button {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  border: 0em;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover {
  border-radius: 4px;
  text-decoration: none;
  -webkit-text-decoration-color: #2196F3;
          text-decoration-color: #2196F3;
  background-color: #2196F3;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - 6px) / 3);
      flex-basis: calc((100% - 6px) / 3);
}
.services__offer {
  width: 370px;
  height: 404px;
  border: #EEEEEE solid 1px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services__offer:hover {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  margin: 0;
  display: block;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.services__header {
  margin: 20px 0 4px 24px;
}
.services__type {
  font-family: "Roboto";
  font-size: 16px;
  Line-height: 1.87;
  margin: 0 0 0 24px;
}

.with-bg {
  background-color: rgba(47, 48, 58, 0.4392156863);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9019607843);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.overlay > p {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}
.image-overlay:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.9333333333);
}

.picture-with-label {
  position: relative;
}

.current-page-link {
  position: relative;
}
.current-page-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2196F3;
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  border-radius: 2px;
  pointer-events: none;
  cursor: unset;
}

/*--- MODAL WINDOW---*/
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window {
  background-color: #ffffff;
  position: relative;
  margin: auto;
  min-width: 528px;
  min-height: 581px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 1, 3, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 1, 3, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 3s linear;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 3s linear;
}
.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal-window {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__header {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.input__comment {
  margin-top: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.input__label {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input__box-svg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 12px;
}
.input__box-svg:hover, .input__box-svg:focus {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__box {
  width: 448px;
  height: 40px;
  border: none;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-indent: 40px;
}
.input__box:focus,
.input__box textarea:focus {
  outline: 1px solid #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.input__icon:hover, .input__icon:focus-within svg {
  outline: 1px solid #2196F3;
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__icon svg {
  position: absolute;
  margin-left: 10px;
}

.policy {
  margin-top: 20px;
}
.policy__link {
  color: #2196F3;
  text-decoration: underline;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
.policy__link:hover, .policy__link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}
.policy__checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: block;
}

.submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.submit-container__btn {
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  font-size: 16px;
  line-height: 1.86;
  font-weight: 700;
  letter-spacing: 0.01em;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  bottom: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---- END OF MODAL WINDOW ----*//*# sourceMappingURL=main.css.map */