@import "./utils/vars";
@import "./components/body";
@import "./components/container";
@import "./components/lorem";
@import "./components/offer";
@import "./components/team";
@import "./components/our-clients";
@import "./components/header";
@import "./components/navigation";
@import "./components/title";
@import "./components/footer";
@import "./components/newsletter";
@import "./components/menu-portfolio";
@import "./components/services-portfolio";
@import "./components/modal";






