@import "../utils/vars";

.header {
    
    border-bottom: 1px solid $header-border;
    
    .header__wrapper {
        height: 80px;
        margin: 0 auto;
        max-width: 1200px;
        padding: 16px 15px 16px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $pureblack;
        text-decoration: none;
        }

    &__mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
    
        &:hover,
        &:focus {
            fill: $button-hover;
            cursor: pointer;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}

@media screen and (min-width: 768px) {
    .header {
    
            border-bottom: 1px solid $header-border;
    
            .header__wrapper {
                max-height: 80px;
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
    
            &__logo {
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                color: $pureblack;
                text-decoration: none;
            }
    
            &__mobile {
                display: none;
            }
    
        }
}

@media screen and (min-width: 1200px) {
    .header {
        
        border-bottom: 1px solid $header-border;

        .header__wrapper {
            min-height: 80px;
            margin: 0 auto;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__logo {
            font-family: $secondary-font;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: $pureblack;
            text-decoration: none;
        }

        &__mobile {
            display: none;
            }
        

    }

}
