 @import "../utils/vars";

.lorem {
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    min-width: 320px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    &__descriptions {
        margin: 0px;
        width: 100%;
        gap: 30px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &__chunk {
        flex-basis: 100%;
    }

    &__icon {
        width: 270px;
        height: 120px;
        background-color: $icon-background;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        padding: 25px 102px;
    
        &:hover,
        &:focus {
            border: solid $button-hover;
            fill: $button-hover;
    }
}

    &__header {
        font-family: $main-font;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        color: $pureblack;
        margin: 0;
    }

    &__text {
        font-family: $main-font;
        font-size: 14px;
        line-height: 1.71;
        color: $light-text-color;
        margin: 0;
        margin-bottom: 30px;
        text-align: left;
        }

}

@media screen and (min-width: 768px) {
    .lorem {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__descriptions {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            gap: 30px;
        }

        &__chunk {
            /* calc((100% - numberOfGapsInRow * valueOfOneGap) / numberOfElementInRow) */
            flex-basis: calc((100% - 30px) / 2);
            flex-wrap: wrap;
    }
    }
}

@media screen and (min-width: 1200px) {
    .lorem {
        margin: 0 auto;
        padding: 0 0 60px 0;
        margin-top: 60px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__descriptions {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__header {
            text-align: left;
        }
    
        &__text {
            text-align: left;
        }

        &__chunk {
            /* calc((100% - numberOfGapsInRow * valueOfOneGap) / numberOfElementInRow) */
            flex-basis: 100%;
        }
    }   
}