@import "../utils/vars";

.lorem {
padding-top: $sections-padding-top;

&__descriptions{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding-left: 0;
}
&__icon {
    width: 270px;
    height: 120px;
    background-color: $icon-background;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    &:hover,
    &:focus {
            border: solid $button-hover;
            fill: $button-hover;
        }
}
&__text {
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.71;
    color: $light-text-color;
}

}
