 @import "../utils/vars";

.lorem {
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;

    &__descriptions {
        margin: 0pxx;
        width: 100%;
        gap: 30px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }

    &__chunk {
        flex-basis: 100%;
    }

    &__icon {
        width: 270px;
        height: 120px;
        background-color: $icon-background;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
    
        &:hover,
        &:focus {
            border: solid $button-hover;
            fill: $button-hover;
    }

    &__header {
        font-family: $main-font;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        
        text-transform: uppercase;
        color: $pureblack;
        margin: 0;
    }

    &__text {
        font-family: $main-font;
        font-size: 14px;
        line-height: 1.71;
        color: $light-text-color;
        margin: 0%;
        margin-bottom: 30px;
        }

}



/*.lorem {
    min-width: 304px;
    margin: 0 auto;
    padding: 0 0 60px 0;
    margin-top: 60px;


&__descriptions{
    list-style: none;
    gap: 30px;
    margin: 0 15px 0 15px;
    padding: 0;
}
&__icon {
    width: 270px;
    height: 120px;
    background-color: $icon-background;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    &:hover,
    &:focus {
            border: solid $button-hover;
            fill: $button-hover;
        }
&__header {
    display: flex;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    justify-content: center;
    text-transform: uppercase;
    color: $pureblack;
    margin: 0;
    
}
 &__chunk {
    width: 354px;
    display: flex;
} 

}
&__text {
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.71;
    color: $light-text-color;
    margin: 0%;
}

}
*/

@media screen and (min-width: 768px) {
    .lorem {
        padding: 0 0 45px 0;
        max-width: 768px;
        
        &__descriptions {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__chunk {
            width: 354px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .lorem {
        padding: 0;
        margin-top: $sections-padding-top;
        max-width: 1200px;

        &__descriptions {
            flex-wrap: nowrap;
            list-style: none;
            margin: 0;
            gap: 30px;
        }
}
}