@import "../utils/vars";

.services {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
    flex-basis: calc((100% - 6px) / 3);

    &__offer {
            width: 370px;
            height: 404px;
            border: $card-border solid 1px;
            transition: $transition;
    
            &:hover {
                flex-basis: calc((100% - 90px) / 4);
                margin: 0;
                display: block;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
                cursor: pointer;
            }
        }
    
    
    &__header {
            margin: 20px 0 4px 24px;
        }
    
    &__type {
            font-family: $main-font;
            font-size: 16px;
            Line-height: 1.87;
            margin: 0 0 0 24px;
        }
}


.with-bg {
    background-color: #2F303A70;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 49px 45px 49px 24px;
    background-color: $overlay-bcg;
    transition: $transition;
    transform: translateY(100%);
}

.overlay>p {
    color: $no-color;
    font-weight: 400;
    font-size: 18px;
}

.image-overlay {
    position: relative;
    overflow: hidden;

    &:hover .overlay {
            transform: translateY(0);
            transition: $transition;
        }
}

.label {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding: 27px 0px;
    color: $no-color;
    background-color: $label-bcg;
}

.picture-with-label {
    position: relative;
}

.current-page-link {
    position: relative;

    &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            bottom: 0;
            left: 0;
            background-color: $button-hover;
            transform: translateY(28px);
            border-radius: 2px;
            pointer-events: none;
            cursor: unset;
        }
}

