@import "../utils/vars";

.team {
padding-top: $sections-padding-top;

    &__title {
        padding-top: $sections-padding-top;
        font-family: $main-font;
        font-style: bold;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 3%;
        text-align: center;
    }


    &__members {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        padding-bottom: $sections-padding-top;
        list-style: none;
        padding-left: 0;
    }

    &__team-card {
        background-color: $no-color;
        text-align: center;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    }

    &__name {
        margin: 30px 0 10px 0;
    }

    &__profession {
        font-size: 16px;
        line-height: 1.19;
        color: $light-text-color;
        margin: 0 0 30px 0;
    }

    &__social-media {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    &__social-media-icon {
        fill: $social-media;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $no-color;
        transition: $transition;
        &:hover,
        &:focus {
                fill: $no-color;
                background-color: $button-hover;
                cursor: pointer;
            }
    }
}

.team-container {
    background-color: $icon-background;
    width: 1600px;
    margin: auto;
}