$main-bg-color: #FFFFFF;
$main-text-color: #212121;
$text-secondary-color: #21212133;
$button-hover: #2196F3;
$no-color: #ffffff;
$iconcolor: #afb1b8;
$pureblack: #000000;
$paleblack:  #00000033;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$sections-padding-top: 94px;
$main-font: 'Roboto';
$secondary-font: "Raleway";
$automaticfont: sans-serif;
$light-text-color: #757575;
$icon-background:  #F5F4FA;
$offer-color: #2F303Aee;
$social-media: #AFB1B8;
$footer-background:  #2F303A;
$footer-contact: #FFFFFF99;
$footer-icon-bcg: #FFFFFF1A;
$newsletter-border: #FFFFFF4D;
$card-border: #EEEEEE;
$label-bcg: #2F303Aee;
$overlay-bcg: #2196F3E6;





